@import 'misc/variables';

html, body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-size: 100%;
  background: #f0f0f0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.success {
  font-size: 80%;
  color: #fff;
  text-shadow: 1px 1px #500;
  background: #900;
  padding: 10px;
  border-radius: 10px;
  list-style: none;
  border: 1px solid #b00;
  margin: 0 0 5px;
  animation: slideDown 1s forwards;
}

.error_list > li {
  font-size: 80%;
  color: #fff;
  text-shadow: 1px 1px #500;
  background: #900;
  padding: 10px;
  border-radius: 10px;
  list-style: none;
  border: 1px solid #b00;
  margin: 0 0 5px;
  animation: slideDown 1s forwards;
}

.logo {
  width: 90%;
  height: 50px;
  display: block;
  float: left;
  padding-top: 8px;
  text-align: center;
}

nav {
  background: #292929;
  width: 100%;
  height: 60px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.menu_button {
  color: #fff;
  width: 10%;
  height: 40px;
  display: block;
  float: left;
  padding: 10px 5%;
}

.menu_button .fa-bars {
  font-size: 2.25em;
}

nav ul, nav ul::before, nav ul::after {
  color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

nav ul li {
  margin-right: 3px;
  float: left;
}

nav ul li a {
  padding: 21.5px;
  display: block;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #999;
  text-shadow: 1px 1px #000;
  font-size: 90%;
  font-weight: bold;

}

nav ul li a.fa {
  float: left;
  margin: 1.5px 5px 0 0;
}

nav ul li a:hover .fa {
  color: #c00;
  transition: all .5s ease-in-out;
}

nav ul li a.active, nav ul li a:hover {
  background: #2b2b2b;
  border-bottom: 2px solid #c00;
  transition: all .5s ease-in-out;

}

.button {
  display: inline-block;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .5rem 1rem;
  font-size: 90%;
  border-radius: .25rem;
  transition: all .45s ease-in-out;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #333;
  text-decoration: none;
}

.button.small {
  font-size: 0.3em;
  padding: .2rem 0.7rem;
}

.button.orange {
  color: #fff;
  background: #ff3a00;
  border: 1px solid #a02500;
}

.button.red {
  color: #fff;
  text-shadow: 1px 1px #a00;
  border: 1px solid #a00;
  background: #ff0000;

}

.button:hover {
  background-color: #eee;
  color: #222;
}

.button.orange:hover {
  color: #fff;
  background: #ff4c05;
  border: 1px solid #a02500;
}

.button.selected, button.selected:hover {
  background: #ffb7b3;
  border: 1px solid #ff7a60;
  color: #2f0208;
}

.form-background {
  background: #fff;
  border-radius: 10px;
  padding: 5px;
  font-size: 90%;
}

.form-group {
  padding: 10px;
}

.form-group label {
  width: 100%;
  display: inline-block;
  font-weight: bold;
  padding: 5px;
}

.xs-x3field {
  height: 240px;
}

/*
Arrow style
Source: http://stackoverflow.com/questions/22153080/how-do-i-change-the-select-box-arrow
*/
.form-group select.form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: linear-gradient(45deg, transparent 50%, #222 50%),
  linear-gradient(135deg, #333 50%, transparent 50%),
  linear-gradient(to top, #bcbcc2, #e4e4eb);
  background-position: calc(100% - 21px) calc(1em + 2px), calc(100% - 16px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;

}

.form-group input[type=radio].form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
  background: #000;
  border-radius: 40px;
  width: 10px;
}

.form-group input[type=radio]:checked.form-input {
  transition: all .4s ease-in-out;
  background: #00ff00;
}

.file_upload {
  border: 3px dashed #ddd;
  width: 100%;
  padding: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.file_upload:hover, .file_upload.dragover {
  border: 3px dashed #72758a;
}

.form-group .form-input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.form-group .form-input:focus {
  border-bottom: 1px solid #fec182;
  transition: all .5s ease-in-out;
}

.form-group .validation.ng-dirty.ng-valid {
  border-bottom: 1px solid #007100;
  transition: all .5s ease-in-out;
}

.form-group .validation.ng-dirty.ng-invalid, .validation.login_form .ng-dirty.error {
  border-bottom: 1px solid #c00;
  transition: all .4s ease-in-out;
}

.form-group small.red {
  color: #c00;
}

.grid-inner {
  margin-left: -15px;
  margin-right: -15px;
}

.bottom-margin {
  margin-bottom: 15px;
}

.clear {
  clear: both
}

.container {
  width: 100%;
  padding: 0 2.5%;
}

.button.xs-large {
  padding: .75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: .3rem
}

.user_card {
  text-align: center;
  color: #333;
  font-size: 105%;
}

.user_card img {
  width: 35%;
  margin-bottom: 3px;
  border-radius: 10px;
}

.user_card .title {
  text-transform: uppercase;
  font-size: 130%;
  color: #333;
  font-weight: 400;
  padding: 5px;

}

.profile_pic_upload {
  overflow: hidden;
  border-radius: 10px;
}

.profile_pic_upload img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 10px;
}

.profile_pic_upload .uploader {
  background: #000;
  opacity: 0;
  width: calc(100% - 30px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
  margin-left: 15px;
  transition: all .5s ease-in-out;
  color: #fff;
  text-align: center;
  padding: 40% 0;
  cursor: pointer;
}

.profile_pic_upload:hover .uploader {
  opacity: 0.7;
  transition: all .5s ease-in-out;

}

.dash_card {
  text-align: center;
  padding: 10px;
}

.dash_card .title {
  text-transform: uppercase;
  font-size: 110%;
  color: #666;
  font-weight: 200;
  padding: 5px;
  text-align: center;

}

.dash_card .value {
  text-transform: uppercase;
  font-size: 135%;
  color: #333;
  padding: 5px;
  text-align: center;
}

.dash_card .value .units {
  font-size: 65%;
}

.comments {
  padding: 10px 0 !important;
  border-bottom: 1px solid #eee;
  text-transform: capitalize;
}

.comments .avatar {
  padding: 0 !important;
}

.comments .avatar img {
  border-radius: 10px;
}

.comments .posted_at {
  display: inline;
  color: #999;
  font-size: 90%;
}

.comments .username {
  color: #333;
  font-weight: bold;
  display: inline;
}

h1, h2 {
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  text-shadow: 1px 1px #fff;
  padding-bottom: 10px;
  font-weight: 500;
  width: 100%;
  font-size: 1.45em;
}
a.home_card{
  text-decoration: none;
}
.home_card h2 {
  margin: 0;
  padding: 5px;
  color: #555;

  text-transform: uppercase
}

a.home_card:hover .form-background{
  background: #fdfdfd;
  transition: all .5s ease-in-out;

}

@media #{$small-screen-min-width}{

  .button.s-large {
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: .3rem
  }
}

@media #{$medium-screen-min-width} {
  .md-x2field {
    height: 162px;
  }
  h1 {
    font-size: 2em;
  }

  .button.md-large {
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: .3rem
  }
  .menu_button {
    display: none
  }

  .logo {
    width: 200px;
    margin-right: 10px;
  }
}

@media #{$large-screen-min-width}{

}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@import 'grid/grid';
@import 'misc/notifications';
