<h1>{{activity.name}}</h1>
<div class="grid-inner">
    <div class=" col xs-12 md-3 bottom-margin">
        <div class="form-background">
            <div class="form-group">
                <div class="user_card">
                    <img ng-src="{{activity.createdBy.profile_pic || default_profile_pic}}"/>
                    <div class="title">{{activity.createdBy.name || activity.createdBy.username}}</div>
                    at {{activity.dateTime*1000 | date:'dd/MM/yyyy @ h:mma'}}<br/><br/>
                    <strong>Shared with:</strong> {{activity.visibility == 1 ? 'Friends': activity.visibility ==
                    2 ? 'Me': 'Public'}}
                </div>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-9 bottom-margin">

        <div class="form-background ">
            <div class="form-group">

                <dash-card title="Distance" value="{{activity.distanceInMeters/1000 | number:2}}" units="km"
                           class="col xs-4"></dash-card>
                <dash-card title="Duration" value="{{activity.durationInSeconds}}" format="HH:MM:SS" type="timeValue"
                           class="col xs-4"></dash-card>
                <dash-card title="Avg. Pace" value="{{activity.durationInSeconds/(activity.distanceInMeters/1000 )}}"
                           format="MM:SS" type="timeValue" units="/km"
                           class="col xs-4"></dash-card>
                <dash-card title="Type" value="Run" class="col xs-4"></dash-card>
                <dash-card title="Elevation" value="{{activity.elevationInMeters}}" units="m"
                           class="col xs-4"></dash-card>
                <dash-card title="Cal Burn" value="111" units="kCal"
                           class="col xs-4"></dash-card>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="col xs-12 bottom-margin" ng-if="mapPathData.length>1">
        <div class="form-background ">
            <div class="form-group">
                <div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyCiyhT-dNsM3BGxQn1pvlKj4H3291D3-_A">
                    <ng-map zoom-to-include-markers="true" center="{{mapPathData[0][0]}}, {{mapPathData[0][1]}}"
                            zoom="3">

                        <marker position="{{mapPathData[0][0]}}, {{mapPathData[0][1]}}" title="Start"></marker>
                        <marker position="{{mapPathData[mapPathData.length-1][0]}}, {{mapPathData[mapPathData.length-1][1]}}"
                                title="End"></marker>
                        <shape name="polyline"
                               path="{{mapPathData}}"
                               geodesic="true"
                               stroke-color="#FF0000"
                               stroke-opacity="1.0"
                               stroke-weight="4">
                        </shape>
                    </ng-map>
                </div>
            </div>
        </div>
    </div>
    <div class="col xs-12 bottom-margin">
        <div class="form-background ">
            <div class="form-group">

                <div class="comments col xs-12" ng-repeat="com in comments.list">
                    <div class="avatar col xs-3 md-1">
                        <img ng-src="{{com.createdBy.profile_pic || default_profile_pic}}" width="100%"/><br/>
                    </div>
                    <div class="col xs-9 md-11">
                        <div class="title">
                            <div class="username">{{com.createdBy.name || com.createdBy.username}}</div>
                            <div class="posted_at">{{com.createdAt | timeAgo}}</div>
                        </div>
                        <p> {{com.commentText}}</p>
                    </div>
                </div>
                <div class="comments col xs-12">
                    <div class="avatar col xs-3 md-1">
                        <img ng-src="{{currentUser.profile_pic || default_profile_pic}}" width="100%"/><br/>
                    </div>
                    <div class="col xs-9 md-11">
                        <label for="comment">Your comments (Posting as {{currentUser.name ||
                            currentUser.username}})</label>
                        <ul class="error_list">
                            <li ng-repeat="error in comments.errors">
                                {{error}}
                            </li>
                        </ul>

                     <textarea ng-model="comment" id="comment" placeholder="Say something..."
                               class="form-input validation"></textarea>
                    </div>
                    <input type="button" ng-click="addActivityComment();" class="button xs-large col xs-12 orange"
                           value="Add Comment >>" ng-disabled="!activity._id">
                </div>
                <div class="clear"></div>

            </div>
        </div>
    </div>
</div>