<div ng-show="entryMode==0">
    <h1>Pick a method</h1>
    <div align="center">
        <a href="/app/create-activity/manual" class="button xs-large" ng-class="{'selected':entryMode==1}">Manual
            Entry</a>
        <a href="/app/create-activity/gpx" class="button xs-large" ng-class="{'selected':entryMode==2}">GPX
            Upload</a>
    </div>
</div>
<div ng-show="entryMode==1">
    <h1>Manual Entry</h1>

    <form name="manualEntry" class="form-background grid" ng-class="{'errored': errored}">
        <ul class="error_list">
            <li ng-repeat="error in manualEntryModel.errors">
                {{error}}
            </li>
        </ul>
        <div class="form-group col xs-12">
            <label for="name">Activity Name
                <small class="red">*</small>
            </label>
            <input type="text" class="form-input validation" id="name" ng-model="manualEntryModel.name"
                   placeholder="Describe the activity in a few words..." required
                   ng-minlength="3" ng-maxlength="50">
        </div>
        <div class="form-group col xs-12 md-6">
            <label for="activityType">Activity Type
                <small class="red">*</small>
            </label>
            <select id="activityType" ng-model="manualEntryModel.activityType" class="form-input validation"
                    ng-options="aT.label for aT in activityTypes" required>
            </select>
        </div>
        <div class="form-group col xs-6">
            <label for="dateTimeObj">Date & Time
                <small class="red">*</small>
            </label>
            <input class="form-input validation" id="dateTimeObj" ng-model="manualEntryModel.dateTimeObj"
                   placeholder="Date"
                   moment-picker="manualEntryModel.dateTimeObj"
                   format="DD-MM-YYYY HH:mm:ss" today="true" required>
        </div>

        <div class="form-group col xs-12 md-8 grid-inner">
            <div class="col xs-12 md-8">
                <label for="distance">Distance </label>
                <input type="number" class="form-input validation" id="distance" min="0" max="999999"
                       ng-model="manualEntryModel.distance"
                       placeholder="How far did you go?">
            </div>
            <div class="col xs-12 md-3">
                <label for="distanceType">Type</label>
                <select id="distanceType" ng-model="manualEntryModel.distanceType" class="form-input validation"
                        ng-options="mT.label for mT in measurementTypes" required>
                </select>
            </div>
        </div>
        <div class="form-group col xs-12 md-4">
            <label for="elevation">Elevation (meters)</label>
            <input type="number" class="form-input validation" id="elevation" min="0" max="999" ng-maxlength="3"
                   ng-model="manualEntryModel.elevation"
                   placeholder="Did you climb?">

        </div>
        <div class="form-group col xs-12 md-12">
            <label for="durationH">Duration</label>
            <input type="number" class="form-input validation col xs-4" id="durationH"
                   ng-model="manualEntryModel.durationH"
                   placeholder="HH"
                   ng-maxlength="2" min="0" max="99">
            <input type="number" class="form-input validation col xs-4" id="durationM"
                   ng-model="manualEntryModel.durationM"
                   placeholder="MM"
                   ng-maxlength="2" min="0" max="59">
            <input type="number" class="form-input validation col xs-4" id="durationS"
                   ng-model="manualEntryModel.durationS"
                   placeholder="SS"
                   ng-maxlength="2" min="0" max="59">
        </div>
        <div class="form-group col xs-12 md-12">
            <label for="notes">Notes</label>
            <textarea id="notes" ng-model="manualEntryModel.notes" placeholder="Say something about your activity..."
                      class="form-input validation"></textarea>
        </div>
        <input type="button" ng-click="addActivityManual();" class="button xs-large col xs-12 orange"
               value="Add Activity >>">
        <div class="clear"></div>
    </form>
</div>
<div ng-show="entryMode==2">
    <h1>GPX Upload</h1>
    <form name="gpxUpload" class="form-background grid" ng-class="{'errored': errored}">
        <ul class="error_list">
            <li ng-repeat="error in gpxUploadModel.errors">
                {{error}}
            </li>
        </ul>
        <div class="form-group col xs-12">
            <label for="name">Activity Name
                <small class="red">*</small>
            </label>
            <input type="text" class="form-input validation" id="name" ng-model="gpxUploadModel.name"
                   placeholder="Describe the activity in a few words..." required
                   ng-minlength="3" ng-maxlength="50">
        </div>
        <div class="form-group col xs-12 md-5">
            <label for="activityType">Activity Type
                <small class="red">*</small>
            </label>
            <select id="activityType" ng-model="gpxUploadModel.activityType" class="form-input validation"
                    ng-options="aT.label for aT in activityTypes" required>
            </select>
        </div>
        <div class="form-group col xs-12 md-7">
            <label for="file">GPX File
                <small class="red">*</small>
            </label>
            <div class="file_upload" ngf-select ng-required ngf-drop ng-model="gpxUploadModel.file" id="file"
                 ngf-accept="'.gpx'" ngf-pattern="'.gpx'" ngf-max-size="2MB">
                {{gpxUploadModel.file.name || 'Drag a file here or click to upload'}}
            </div>
        </div>
        <div class="form-group col xs-12 md-12">
            <label for="notes">Notes</label>
            <textarea id="notes" ng-model="gpxUploadModel.notes" placeholder="Say something about your activity..."
                      class="form-input validation"></textarea>
        </div>
        <input type="button" ng-click="uploadGpx();" class="button xs-large col xs-12 orange"
               value="{{uploadPercent ||'Upload Activity >>'}}">
        <div class="clear"></div>
    </form>
</div>