<form name="loginForm" class="login_form">
    <div class="error" ng-if="usernameIsInvalid">Username is invalid, try again!</div>
    <input type="text" class="text" placeholder="Username..." value="" ng-model="username"/>
    <input type="password" class="text" placeholder="Password..." value="" ng-model="password"/>
    <input type="submit" class="button" ng-value="loginButtonText" ng-disabled="!canLogin()" ng-click="login();"
           ng-class="{ 'pressed': loginPressed}"/>
    <a href="#register">No Account Yet? Signup</a>

</form>