html, body {
  width: 100%;
  height: 100%;
  font-size: 1em; }

.error_list {
  list-style: none;
  margin: 0;
  padding: 0; }

.success {
  font-size: 80%;
  color: #fff;
  text-shadow: 1px 1px #500;
  background: #900;
  padding: 5px;
  border-radius: 10px;
  list-style: none;
  width: 290px;
  border: 1px solid #b00;
  margin: 0 0 5px;
  animation: slideDown 1s forwards; }

.error_list > li {
  font-size: 80%;
  color: #fff;
  text-shadow: 1px 1px #500;
  background: #900;
  padding: 5px;
  border-radius: 10px;
  list-style: none;
  width: 290px;
  border: 1px solid #b00;
  margin: 0 0 5px;
  animation: slideDown 1s forwards; }

.logo {
  background: transparent url("../images/logo_xs.png") no-repeat;
  width: 234px;
  height: 66px;
  margin: auto;
  padding-top: 10px; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideDown {
  0% {
    transform: translateY(-100%); }
  50% {
    transform: translateY(8%); }
  65% {
    transform: translateY(-4%); }
  80% {
    transform: translateY(4%); }
  95% {
    transform: translateY(-2%); }
  100% {
    transform: translateY(0%); } }
