$small-screen-min-width: screen and (min-width: 600px);
$medium-screen-min-width: screen and (min-width: 850px);
$large-screen-min-width: screen and (min-width: 1024px);
$xlarge-screen-min-width: screen and (min-width: 650px);